{% extends "base.html" %}
{% block content %}

<h2>Update a Budget</h2>

<form action="/budgets/{{ budget.id }}" method="POST">
    <div>
        <label for="value">Value:</label>
        <input type="text" id="value" name="value" value="{{ budget.value }}">
    </div>
    <div>
        <input type="submit">
    </div>
    <div>
        <label for="name">NAME:</label>
        <input type="text" id="name" name="name" value="{{ budget.name }}">
    </div>
    <div>
        <input type="submit">
    </div>
</form>

{% endblock %}