{% extends "base.html" %}
{% block content %}

<h2>INDIVIDUAL BUDGETS</h2>

{% for budget in budgets %}

<section>
    <h3>{{ budget.name.upper() }}, I THINK YOUR BUDGET WAS £{{ budget.value }} . I THINK IT'S NOW {{ budget.budget_difference }} BUT I'M NOT COUNTING SO WHATEVER. GO BANANAS.</h3>
    <a href="/budgets/{{ budget.id }}/edit">Edit</a>
    <form action="/budgets/{{ budget.id }}/delete" method="POST">
        <input type="submit" value="Delete">
    </form>
</section>

{% endfor %}
{% endblock %} 