<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Spending</title>
<style>
.grid-container {
  display: grid;
  background-color: #FFE633;
}

.grid-container > div {
  background-color: #a88a1f;
  margin: 8px;
  padding: 8px;
  font-size: 15px;
  justify-items: center;
}
</style >
</head>
<body >
    <div class="grid-container">
        <div>BUDGET</div>  
        <div><a href="/budgets">VIEW</a></div>
        <div><a href="/budgets/new">ADD</a></div>
    </div>

    <div class="grid-container">
    <div>MERCHANTS</div>  
    <div><a href="/merchants">All</a></div>
    <div><a href="/merchants/new">Add</a></div>
    </div>

    <div class="grid-container">
    <div>TAGS</div>  
    <div><a href="/tags">All</a></div>
    <div><a href="/tags/new">Add</a></div>
    </div>

    <div class="grid-container">
    <div>TRANSACTIONS</div>  
    <div><a href="/transactions">All</a></div>
    <div><a href="/transactions/new">Add</a></div>
    </div>
</body>
</html>
    <body  style="background-color:#FFE633;
    
        <div class="container">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>