{% extends "base.html" %}
{% block content %}

<h2>EDIT A TRANSACTION</h2>

<form action="/transactions/{{ transaction.id }}" method="POST">
    <div>
        <label for="merchant">MERCHANT:</label>
        <select name="merchant_id" id="merchant">
            {% for merchant in merchants %}
            <option value="{{ merchant.id }}" {% if merchant.id == transaction.merchant.id %} selected {% endif %}>
                {{ merchant.name.upper() }}
            </option>
            {% endfor %}
        </select>
    </div>
    <div>
        <label for="tag">TAG:</label>
        <select name="tag_id" id="tag">
            {% for tag in tags %}
            <option value="{{ tag.id }}" {% if tag.id == transaction.tag.id %} selected {% endif %}>
                {{ tag.name.upper() }}
            </option>
            {% endfor %}
        </select>
    </div>  
    <div>
        <label for="value">VALUE:</label>
        <input type="text" id="value" name="value" value="{{ transaction.value }}">
    </div>
    <div>
        <input type="submit">
    </div>
</form>

{% endblock %}